!!!
%html
  %head
    %title OmniFiles files
    =stylesheet_tag 'application'
  %body
    %h1 Files
    %table.pure-table.pure-table-bordered.wide
      %thead
        %tr
          %th #
          %th URL
          %th Filename
          %th Accessed
          %th Accessed at
          %th Created at
          %th MIME
          %th
        %tbody
          -@hdata.each_with_index do |doc, i|
            %tr
              %td=i
              %td
                %a{href: doc[:url]} #{doc[:url]}
              %td=doc[:original_filename]
              %td=doc[:access_count]
              %td=doc[:access_time]
              %td=doc[:created_time]
              %td=doc[:mime]
              %td
                %form{ :action => "/stat/#{doc[:shortened]}/delete", :method => 'post' }
                  %button.delete{ :type => 'submit'}Delete

    %p
      =styled_flash
