!!!
%html
  %head
    %title OmniFiles statistics
    =stylesheet_tag 'application'
  %body
    %h1 Statistics for #{@hdata[:shortened]}
    #container
      .left
        %p URL:
        %p Original name:
        %p Access count:
        %p Accessed at:
        %p Created at:
        %p MIME:
      .right
        %p
          %a{href: @hdata[:url]} #{@hdata[:url]}
        %p=@hdata[:original_filename]
        %p=@hdata[:access_count]
        %p=@hdata[:access_time]
        %p=@hdata[:created_time]
        %p=@hdata[:mime]

    %p
      =styled_flash
